<!-- <div class="container">
<h1> Recipe Box </h1>
<h3> {{currentRecipe}}</h3>
<ul>
  <li *ngFor="let recipe of recipes" (click)="onSelect(recipe)" [class.selected]="recipe === selectedRecipe">
  <span class="badge">{{recipe.title}}</span>
  </li>
</ul>
<div *ngIf="selectedRecipe">
  <h2>{{selectedRecipe.ingredients}} details</h2>
  <div><label>Directions: </label>{{selectedRecipe.directions}}</div>
  <div>
    <label>ingredients</label>
    <input [(ngModel)]="selectedRecipe.ingredients" placeholder="ingredients"/>
  </div>
</div> -->
